---
const { text = "Klik her", href = "#", variant = "default" } = Astro.props;
---

{
  href ? (
    <a href={href} class={`knap ${variant}`}>
      {text}
    </a>
  ) : (
    <button type="button" class={`knap ${variant}`}>
      {text}
    </button>
  )
}

<style>
  .knap {
    background-color: var(--white);
    color: var(--black);
    padding: 0.4rem 1.6rem;
    text-decoration: none;
    font-family: "tuffy", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  @media (min-width: 600px) {
    .knap {
      display: inline-block;
      background-color: var(--white);
      color: var(--black);

      padding: 0.6rem 3rem;
    }
  }

  /* Fælles hover for default */
  .knap.default:hover {
    background-color: var(--overskrift);
    color: var(--white);
  }
</style>
