---
const { text = "Klik her", href = "#", variant = "default" } = Astro.props;
---

{
  href ? (
    <a href={href} class={`knap ${variant}`}>
      {text}
    </a>
  ) : (
    <button type="button" class={`knap ${variant}`}>
      {text}
    </button>
  )
}

<style>
  .knap {
    display: inline-block;

    background-color: white;
    color: #000000;
    padding: 0.2em 2em;

    background-color: var(--white);
    color: var(--black);
    padding: 0.2rem 3rem;

    text-decoration: none;
    font-family: "tuffy", sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
  }

  /* Fælles hover for default */
  .knap.default:hover {
    background-color: #42474b;
    color: #ffffff;
  }
</style>
