---
const { data } = Astro.props;
console.log("MusikCard data:", data);

let month = data.Month;
let date = parseInt(data.Dato.slice(8));
let formattedDate = `${date}. ${month} 2025`;
---

<div class="event-card">
  <img src={data.Billede} alt={`Billede af ${data.Navn}`} class="event-image" />
  <div class="event-content">
    <h2 class="event-title">{data.Navn}</h2>
    <div class="event-genre">{data.Genre}</div>
    <div class="event-info">
      <span>{formattedDate}</span>
      <span>Kl. {data.Tid}:00</span>
    </div>
    <div class="infoboks">
      <span>Fri entre</span>
      <a class="event-button" href={`/kunstner/${data.Slug}`}>Se mere</a>
    </div>
  </div>
</div>

<style>
  span {
    font-family: "Raleway", sans-serif;
    color: var(--overskrift);
    font-weight: 300;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    color: var(--black);
    font-weight: 700;
  }
  .event-card {
    background-color: var(--white);
    display: flex;
    margin-bottom: 1rem;
  }

  .event-image {
    width: 50%;
  }

  .event-title {
    margin: 8px 0;
    font-size: 1.4em;
  }

  .event-genre {
    display: inline-block;
    background-color: var(--genre);
    color: var(--black);
    padding: 5px 15px;
    margin-bottom: 12px;
    width: fit-content;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .event-info {
    display: flex;
    margin-bottom: 8px;
    gap: 34px;
  }

  .event-button {
    padding: 1px 10px;
    border: 1px solid var(--black);
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
    text-decoration: none;
  }

  .event-button:hover {
    background-color: var(--overskrift);
    color: var(--white);
  }

  .event-content {
    flex-direction: column;
    padding-left: 10px;
  }
  .infoboks {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 900px) {
    span {
      font-size: 1.3rem;
    }
    .event-card {
      background-color: var(--white);
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .event-image {
      width: 100%;
      padding: 8px;
    }

    .event-genre {
      font-size: 0.9em;
    }

    .event-content {
      padding: 1rem;
    }
  }
</style>
